* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    text-align: center;
    justify-content: center;
    background: #8894ff;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header {
    height: 110px;
    background: linear-gradient(to right, #c19fff,#fff09c,#c19fff) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header h1 {
    margin-left: 10px;
}
header h1 a {
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: left;
}
header h1 a img {
    height: 105px;
    width: 100px;
    border-radius: 50%;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin-right: 45px;
    list-style: none;
}
header nav ul li:hover {
    text-decoration: underline;
}
header nav ul li a {
    font-size: 17px;
    font-weight: 600;
}
.images {
    margin-top: 15px;
}
.images img {
    width: 150px;
    height: 200px;
}
#qoutes {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#qoutes table {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #c19fff;
    font-family: Rachana;
    font-size: 20px;
    font-weight: bold;
}
#qoutes table tbody tr th {
    font-size: 30px;
    text-decoration: underline;
}
p {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(25, 0, 255);
}
iframe {
    height: 100vh;
}
@media all and (max-width: 1240px) {
    header nav ul li {
        margin-right: 0px;
        margin-left: 30px;
        list-style: none;
    }
    header nav ul li:last-child {
        margin-right: 30px;
    }
    header nav ul li a {
        font-size: 20px;
        font-weight: 600;
    }
    #qoutes {
        width: 800px;
        height: 400px;
        margin: 0 auto;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    #qoutes table {
        border: 1px solid #000;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    iframe {
        width: 100%;
    }
}
@media all and (max-width: 980px) {
    header nav ul li {
        margin-right: 30px;
        margin-left: 0;
    }
    #qoutes table {
        font-size: 25px;
    }
    iframe {
        width: 100%;
    }
}
@media all and (max-width: 768px) {
    header nav ul li a {
        font-size: 15px;
    }
    header h1 a {
        font-size: 20px;
    }
    #qoutes {
        width: 600px;
        height: 400px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #qoutes table {
        font-size: 20px;
    }
    p {
        margin-bottom: 3px;
    }
    iframe {
        width: 100%;
    }
}
@media all and (max-width: 640px) {
    header h1 a img {
        height: 95px;
        width: 100px;
        border-radius: 50%;
    }
    header nav ul li a {
        font-size: 10px;
    }
    header h1 a {
        font-size: 15px;
    }
    header nav ul li {
        margin-right: 0px;
        margin-left: 20px;
        list-style: none;
    }
    header nav ul li a {
        font-size: 15px;
        font-weight: 600;
    }
}
@media all and (max-width: 480px) {
    header {
        height: 70px;
    }
    header h1 a {
        font-size: 13px;
    }
    header h1 a img {
        height: 60px;
        width: 70px;
        border-radius: 50%;
    }
    header nav ul li {
        margin-right: 0px;
        margin-left: 7px;
        list-style: none;
    }
    header nav ul li:last-child {
        margin-right: 5px;
    }
    header nav ul li a {
        font-size: 12px;
        font-weight: 600;
    }
    #qoutes {
        width: 450px;
        height: 400px;
        margin: 0 auto;
        font-size: 7px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
@media all and (max-width: 360px) {
    header {
        height: 50px;
    }
    header h1 a {
        font-size: 10px;
    }
    header h1 a img {
        height: 30px;
        width: 35px;
        border-radius: 50%;
    }
    header nav ul li {
        margin-right: 0px;
        margin-left: 5px;
        list-style: none;
    }
    header nav ul li:last-child {
        margin-right: 4px;
    }
    header nav ul li a {
        font-size: 11px;
        font-weight: 600;
    }
    .images img {
        width: 100px;
        height: 150px;
    }
    #qoutes {
        width: 350px;
        height: 350px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #qoutes table {
        font-size: 15px;
    }
    #qoutes table tbody tr th {
        font-size: 20px;
    }
    p {
        font-size: 13px;
    }
    iframe {
        width: 95%;
    }
}
@media all and (max-width: 320px) {
    header {
        height: 30px;
    }
    header h1 a {
        font-size: 7px;
    }
    header nav ul li {
        margin-right: 0px;
        margin-left: 6px;
    }
    header nav ul li a {
        font-size: 8px;
    }
    header nav ul li:last-child {
        margin-right: 4px;
    }
    header nav ul li a {
        font-size: 10px;
        font-weight: 600;
    }
    .images img {
        width: 90px;
        height: 130px;
    }
    #qoutes {
        width: 300px;
        height: 350px;
        margin: 0 auto;
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p {
        font-size: 10px;
    }
}